.main-flex {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-self: center;
  gap: 16px;
}

.player-legend {
  display: flex;
}

.player-legend p:first-child {
  margin-right: auto;
}

.board {
  display: grid;
  aspect-ratio: 1/1;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
}

button.cell {
  font-size: large;
  font-weight: bold;
}

/* button.cell .x-marked {
  color: red;
} */
